#hr_label {
  x: 99%-1;
  x: 331;
  y: 50%;
  fill: gold;
}

#hr_background {
  x: 50%+10;
  y: 50%;
  fill: #2b2b2b;
}

#step_bg {
  x: 50%+6;
  y: 75%+36;
  fill: #2b2b2b;
}

#step_label {
  x: 97%-1;
  y: 75%+36;
  fill: gold;
}